body {
    font-family: "Open Sans";
    font-size: 14px;
    height: 100vh;
}

header {
    margin-top: 7%;
    margin-bottom: 20px;
    font-size: 60px;
    font-family: $font-secondary;
    text-align: center;
    letter-spacing: 10px;
    width: 100%;
    animation: text ease-in-out 3s 1;
    position: relative;

    &:after {
        content: 'COLORS |';
        color: #ffd800;
    }
}

@keyframes text {
    30% { 
        letter-spacing: 25px;
    }
    85% {
        letter-spacing: 10px;
    }
}

.question__container {
    width: 40%;
    margin: 50px auto;
    text-align: center;

    .question {
        padding: 10px;
        text-align: left;
        font-size: 25px;
        font-family: $font-main;
        text-transform: uppercase;
        padding-bottom: 30px;
        height: 100px;
    }

    .radio {
        text-align: left;
        font-size: 20px;
        font-family: $font-main;
        display: block;
        padding: 5px 5px;
        cursor: none;

        &:hover {
            color: #ff5f49;
            font-weight: bold;
            letter-spacing: 1px;
            transition: letter-spacing 0.5s;

            .material-icons {
                color: #ff5f49;
            }
        }

        .material-icons {
            color: $color1;
            line-height: 30px;
            vertical-align: bottom;
        }

        & input {
            display: none;
        }
    }

    .progress {
        margin: 50px 0;
        height: 2px;
        border-bottom: 1px solid $color1;
        position: relative;

        .progress-dot {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #49b8ff;
            position: absolute;
            top: -10px;
            left: 0;
            transition: left .5s ease-out;
        }
    }
}
.result {
    @extend .question__container;
    font-size: 20px;
    font-family: $font-main;
    position: relative;
    margin: 0 auto;

    .color-name {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        line-height: 100px;
        margin: 0 auto;
        text-align: center;
        font-family: $font-secondary;
        font-size: 20px;
        top: 55px;
        position: absolute;
        right: calc(50% - 50px);
        background-color: transparent;
        color: #fff;
        -webkit-box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.15);
        box-shadow: 0px 20px 100px 0px rgba(0,0,0,0.3);
        overflow: hidden;

        .color-rec {
            position: absolute;
            width: 100px;
            height: 100px;
            right: calc(50% - 50px);
            bottom: 0;
            animation: result ease-in-out 1s 1;
            z-index: -2;
        }
    }

    .red {
        background-color: #ff5f49;
    }

    .white {
        background-color: #ededed;
    }

    .blue {
        background-color: #49b8ff;
    }

    .green {
        background-color: #c8e13f;
    }

    .color-description {
        margin-top: 150px;
        margin-bottom: 50px;
    }
}

@keyframes result {
    0% {
        bottom: -100px;
    }
}

.footer__container {
    width: 35%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    font-family: $font-main;
    font-size: 18px;
    padding: 20px;
}

.cursor-in {
    width: 10px;
    height: 10px;
    display: block;
    background: #ff5f49;
    border-radius: 200px;
    position: absolute;
    top: 15px;
    left: 15px;
    pointer-events: none;
    will-change: transform;
    display: none;
    &--active {
        display: block;
    }
}

.cursor-out {
    width: 40px;
    height: 40px;
    display: block;
    background: transparent;
    border: 2px solid #ff5f49;
    border-radius: 200px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.1s all ease;
    -webkit-transition: 0.1s all ease;
    -moz-transition: 0.1s all ease;
    pointer-events: none;
    will-change: transform;
    display: none;
    &--active {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    header {
        font-size: 40px;
    }

    .question__container {
        width: 85%;

        .radio {
            &:hover {
                font-weight: normal;
                letter-spacing: 0;
                color: #000;

                .material-icons {
                    color: $color1;
                }
            }
        }
    }
    .cursor-in--active {
        display: none;
    }
    .cursor-out--active {
        display: none;
    }
    .footer__container {
        width: 85%;
    }
}

@media screen and (max-width: 425px) {
    header {
        font-size: 35px;
    }

    .question__container {
        .question {
            height: auto;
        }
    }
}

@media screen and (max-width: 320px) {
    header {
        font-size: 25px;
    }
}

